@model Web.HealthFoot.Models.PRODUCTO
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<section class="lightSection clearfix pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2 class="text-center">Detalle del Producto</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mainContent clearfix">
    <div class="container">
        <div class="row singleProduct">
            <div class="col-md-12">
                <div class="media flex-wrap">
                    <div class="media-left productSlider">
                        <div id="carousel" class="carousel slide" data-ride="carousel">
                            <div class="row">
                                <div class="col-12">
                                    @foreach (var img in Model.IMAGEN_PRODUCTO)
                                    {
                                      
                                            <img src="/Content/ImagesProduct/@img.IMAGEN" class="w-100" alt="products-img">
                                        break;
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                <div class="carousel-inner">
                                    @foreach (var img in Model.IMAGEN_PRODUCTO)
                                    {
                                        <div data-target="#carousel" data-slide-to="" class="thumb"><img src="/Content/ImagesProduct/@img.IMAGEN"></div>
                                    }
                                </div>
                                <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="media-body">
                        <!--En este caso es individual, se accede directamente a la propiedad-->
                        <h2>@Html.DisplayFor(m => Model.NOMBRE)</h2>
                        <h3>$ @Html.DisplayFor(m => Model.PRECIO)</h3>
                        <h4>@Html.DisplayFor(m => Model.DESCRIPCION)</h4>
                        <p class="mb-1">Disponibles:</p>

                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control mr-0" id="cantidadDisp" placeholder="@Model.CANTIDAD" readonly>
                            </div>
                            <div class="col-md-6">
                                <span class="quick-drop ">
                                    <select name="guiest_id4" id="guiest_id4" class="select-drop form-control">
                                        <option value="0">Cantidad</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </span>
                            </div>
                        </div>

                        <div class="btn-area">
                            <a href="#" class="btn btn-primary btn-default">Agregar al carrito </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-header">
            <h4 class="text-center">Productos Relacionados</h4>
        </div>
        <div class="row productsContent">

            <div class="col-md-3 col-12 ">
                <div class="productBox">
                    <div class="productImage clearfix">
                        <img src="~/Content/Images/p1.jpg" alt="products-img">
                        <div class="productMasking">
                            <ul class="list-inline btn-group" role="group">
                                <li><a href="cart-page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                <li><a class="btn btn-default" data-toggle="modal" href="-2.html"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="productCaption clearfix">
                        <h5>Nike Sportswear</h5>
                        <h3>$199</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12 ">
                <div class="productBox">
                    <div class="productImage clearfix">
                        <img src="~/Content/Images/p2.jpg" alt="products-img">
                        <div class="productMasking">
                            <ul class="list-inline btn-group" role="group">
                                <li><a href="cart-page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                <li><a class="btn btn-default" data-toggle="modal" href="-2.html"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="productCaption clearfix">
                        <h5>Dip Dyed Sweater</h5>
                        <h3>$249</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12 ">
                <div class="productBox">
                    <div class="productImage clearfix">
                        <img src="~/Content/Images/p3.jpg" alt="products-img">
                        <div class="productMasking">
                            <ul class="list-inline btn-group" role="group">
                                <li><a href="cart-page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                <li><a class="btn btn-default" data-toggle="modal" href="-2.html"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="productCaption clearfix">
                        <h5>Scarf Ring Corner</h5>
                        <h3>$179</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12 ">
                <div class="productBox">
                    <div class="productImage clearfix">
                        <img src="~/Content/Images/p4.jpg" alt="products-img">
                        <div class="productMasking">
                            <ul class="list-inline btn-group" role="group">
                                <li><a href="cart-page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                <li><a class="btn btn-default" data-toggle="modal" href="-2.html"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="productCaption clearfix">
                        <h5>Sun Buddies</h5>
                        <h3>$149</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

